:root {
    --bg_color: #273246;
    --text_color: #e2d0bf;
}

body {
    background-color: var(--bg_color);
    color: var(--text_color);
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: auto;
    padding: 25px;
    max-width: 800px;
    font-size: larger;
}

#language_switcher img {
    width: 40px;
}

#top_banner {
    height: 300px;
    margin-bottom: 80px;
}
#profile_pic {
    text-align: left;
    max-height: 100%;
    display: inline-block;
}
#top_banner_right {
    float:right;
    text-align: right;
}

.social_icon {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

.social_icon path {
    fill: var(--text_color);
}